%display_flexbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

$grey_light: #F2F2F2;
$grey_dark: #BABABA;

>.structure{
  @extend %display_flexbox;
  align-items: center;

  background-color: white;
  border: 1px solid $grey_dark;
  border-radius: 8px;

  height: auto;
  width: 70%;
  margin-top: 15px;

  >.module{
    @extend %display_flexbox;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 10px;

    >.inputDiv {
      width: 95%;

      >.inputDescriptionDiv{
        cursor: pointer;
        background-color: white;
        border: 1px solid $grey_dark;
        border-radius: 5px;

        >i {
          color: $grey_dark;
        }

        >.descriptionInnerChild {
          width: 100%;
          height: 100px;

          >p {
            font-size: 11px;
            color: #333333;
            padding: 8px;
          }
        }

      }

      >.dropdownList {
        margin-top: 10px;
        width: 100%;
      }

    }

  }
}
