%display_flexbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

%display_inlineflex{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

$grey_lighter: #fafafa;
$grey_light: #F2F2F2;
$grey_dark: #BABABA;
$grey_darker: #595959;

$backgroundGreen: #d0ecd2;
$mainGreen: #d0ecd2;
$optionalGreen: #d0ecd2;

>.structure{
  @extend %display_flexbox;
  align-items: center;

  background-color: white;
  border: 1px solid $grey_dark;
  border-radius: 8px;

  height: auto;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;

  >.module{
    @extend %display_flexbox;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 10px;

    >.inputDiv {
      width: 95%;

      >.inputDivInner {
        @extend %display_inlineflex;
        margin-top: 10px;
        width: 100%;

        >p{
          width: 100px;
          margin:0;
          padding-right:10px;
          padding-left:10px;
          font-size: 12px;
          font-weight: 800;
          color: $grey_darker;
        }

        >input {
          border: 1px solid $grey_dark;
          width: 85%;

          &.small{
            width: 20%;
          }
        }

      }
      
      >p{
        font-size: 12px;
        font-weight: 800;
        color: $grey_darker;
      }

      /** DESCRIPTION COMP **/

      >.inputDescriptionDiv{
        background-color: white;

        >i {
          cursor: pointer;
          color: $grey_dark;
          margin-left: 10px;
        }

        >.withDescriptionTitle {
          @extend %display_inlineflex;
          font-weight: 800;
        }

        >.descriptionInnerChild {
          width: 100%;
          height: auto;

          >p {
            font-size: 11px;
            color: #333333;
            margin: 0;
            margin-bottom: 10px;
            padding-left:10px;
            padding-right:10px;
          }
        }

      }

      /** DROPDOWN COMP **/

      >.dropdownList {
        width: 100%;
        border: 1px solid $grey_dark;
      }

      /** INPUT COMP **/

      >input {
        border: 1px solid $grey_dark;
        width: 50%;
      }

      >textarea{
        border: 1px solid $grey_dark;
        height: 100px;
        width: 100%;
        resize: none;
      }


      >.radioButtonDiv{
        width: 100%;
        height: auto;
        >.radio {
          margin: 5px;
          >label>input {
              margin-right: 10px;
          }
        }

      }

    }

    .textFieldDiv {
      width: 95%;


      >h3 {
        padding: 5px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        border-bottom: 2px solid $grey_light;
      }

      >.textFieldDiv{
        width:100%;
        background-color: $grey_lighter;

        >p {
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 11px;
          color: #333333;
        }
      }

    }


    .businessModuleCanvas {
      width: 80%;
      padding-top: 35px;
      padding-bottom: 25px;

      >.imgDiv{
        width: 100%;
        @extend %display_inlineflex;
        justify-content: space-between;

        >img{
         width: 40%; 
        }
      }

      >.textDiv{
        @extend %display_inlineflex;
        justify-content: space-between;
        width: 100%;

        >p{
         font-size: 11px; 
         color: $grey_darker;
         font-weight: bold;
        }

      }

    }

  }
}
