$grey_lighter: #fafafa;
$grey_light: #F2F2F2;
$grey_dark: #BABABA;
$grey_darker: #595959;

$backgroundGreen: #d0ecd2;
$mainGreen: #409c58;
$optionalGreen: #d0ecd2;

%display_flexbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

%display_inlineflex{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}


>.timer{
  @extend %display_flexbox;

  align-items: center;
  flex-direction: column;

  width: 80%;
  height: 160px;
  margin-top: 50px;

  background-color: white;
  border: 1px solid $grey_light;
  border-radius: 8px;

  >.title {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $grey_light;
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  >.totalTimer {
    width: 40%;
    height: 10px;
    margin-top:2px;

    >.twoYearsBatch {
      @extend %display_inlineflex;
      width: 20%;
      height: 100%;
      margin-left: 4%;
      background-color: $backgroundGreen;
      border-radius: 25px;

      &.filled {
        background-color: $mainGreen;
      }
    }

  }

  >.counter {
    margin-top: 15px;
  } 

  >.imageCounter {
    height: 20px;
    width: 60%;
    background-color: $backgroundGreen;
    border: 2px solid $grey_dark;
    border-radius: 20px;

    >.imageInnerFiller {
      width: 0%;
      height: 100%;
      background-color: $mainGreen;
      border-radius: 20px;
    }



  }

}
