$grey_dark: #BABABA;

%display_flexbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

>.timer{
  @extend %display_flexbox;

  align-items: center;
  flex-direction: column;

  width: 80%;
  height: 160px;

  background-color: white;
  border: 1px solid #F2F2F2;
  border-radius: 8px;

  >.title {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  >.totalTimer {
    width: 40%;
    height: 10px;
    margin-top:2px;

    >.twoYearsBatch {
      display: inline-flex;
      width: 20%;
      height: 100%;
      margin-left: 4%;
      background-color: #d0ecd2;
      border-radius: 25px;

      &.filled {
        background-color: green;
      }
    }

  }

  >.counter {
    margin-top: 15px;
  } 

  >.imageCounter {
    height: 20px;
    width: 60%;
    background-color: green;
    border: 2px solid $grey_dark;
    border-radius: 20px;

    >.imageInnerFiller {
      width: 0%;
      height: 100%;
      background-color: yellow;
      border-radius: 20px;
    }



  }

}
