%display_inlineflex{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

$backgroundGreen: #d0ecd2;
$mainGreen: #409c58;
$optionalGreen: #d0ecd2;

>.toolBar{
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: white;
	border-bottom: 2px solid $mainGreen;
	@extend %display_inlineflex;

	-webkit-box-shadow: 0px 10px 14px -4px rgba(105,105,105,0.5);
	-moz-box-shadow: 0px 10px 14px -4px rgba(105,105,105,0.5);
	box-shadow: 0px 10px 14px -4px rgba(105,105,105,0.5);

	>.left {
		@extend %display_inlineflex;
		width: 30%;
		height: 100%;

		>p {
			>b{
				margin-left: 5px;
			}
			width: 150px;
			margin: 0;
			@extend %display_inlineflex;
			align-items: center;
		}	
	}

	>.right {
		@extend %display_inlineflex;
		width: 70%;
		height: 100%;

		>p {
			>b{
				margin-left: 5px;
			}
			width: 150px;
			margin: 0;
			@extend %display_inlineflex;
			align-items: center;
		}
	}
}